# This workflow will build a Java project with Maven
# For more information see: https://help.github.com/actions/language-and-framework-guides/building-and-testing-java-with-maven

name: CI build

on:
  push:
    paths-ignore:
      - 'README.md'
      - 'pom.xml'
      - '.github/**'
  pull_request:
    paths-ignore:
      - 'README.md'
      - 'pom.xml'
      - '.github/**'
  schedule:
    - cron: "30 3 * * 0"
  workflow_dispatch: {}

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v5
      - name: Setup Java 21
        uses: actions/setup-java@v5
        with:
          java-version: '21'
          distribution: 'temurin'
          cache: 'maven'
      - name: Cache Maven dependencies
        uses: actions/cache@v4
        with:
          path: |
            ~/.m2/repository
            ~/.m2/wrapper
          key: ${{ runner.os }}-maven-${{ hashFiles('**/pom.xml', '.mvn/wrapper/maven-wrapper.properties') }}
          restore-keys: |
            ${{ runner.os }}-maven-
      - name: Maven build
        run: ./mvnw -B -U -T 1C clean install
      - name: Upload build artifacts
        if: failure()
        uses: actions/upload-artifact@v5
        with:
          name: maven-logs
          path: |
            target/surefire-reports/
            target/*.log
